<!--
<!DOCTYPE >
<HTML xmlns:th="http://www.thymeleaf.org">
<HEAD><TITLE>MyOffice 首页</TITLE>
    <META http-equiv=Content-Type content="text/html; charset=utf-8">
    <span th:text="qinwei   hello"></span>

    &lt;!&ndash;<script type="text/javascript" src="${pageContext.request.contextPath}/esayui/jquery.min.js"></script>
    <script type="text/javascript" src="${pageContext.request.contextPath}/esayui/jquery.easyui.min.js"></script>
    <%&#45;&#45;  <script type="text/javascript" src="${pageContext.request.contextPath}/esayui/easyui-lang-zh_CN.js"></script>
      <script type="text/javascript" src="${pageContext.request.contextPath}/esayui/datagrid-detailview.js"></script>
      <script type="text/javascript" src="${pageContext.request.contextPath}/esayui/jquery.edatagrid.js"></script>
      <script type="text/javascript" src="${pageContext.request.contextPath}/esayui/echarts.min.js"></script>&#45;&#45;%>
    <link rel="stylesheet" type="text/css" href="${pageContext.request.contextPath}/esayui/themes/default/easyui.css">
    <%&#45;&#45; <link rel="stylesheet" type="text/css" href="${pageContext.request.contextPath}/esayui/themes/IconExtension.css">&#45;&#45;%>
    <link rel="stylesheet" type="text/css" href="${pageContext.request.contextPath}/esayui/themes/icon.css">&ndash;&gt;
</HEAD>
<body>
&lt;!&ndash;<div layout:fragment="content">
    <div id=index border=0 frameSpacing=0 rows=30,* frameBorder=no>
        <div style="font-size: 18px"id=topFrame
            name=topFrame th:href="@{/Top.html}">
        </div>
        <div border=0 frameSpacing=0 frameBorder=no cols=15%,*>
            <div id=leftFrame name=leftFrame th:href="@{/Left.html}" ></div>
        </div>
        <div>
            <div  id=mainFrame name=mainFrame th:href=="@{/EmployeeMgr.html}"></div>
        </div>
    </div>
 </div>&ndash;&gt;
&lt;!&ndash; <
       <iframe
               border=0 frameSpacing=0 frameBorder=no cols=15%,*>
           <div id=leftFrame
                  name=leftFrame th:href="@{/Left.html}" noResize scrolling=no>
           <iframe
                   id=mainFrame name=mainFrame th:href=="@{/EmployeeMgr.html}" noResize
                   scrolling=no>
       </iframe>&ndash;&gt;

</body>
</HTML>
-->
<!DOCTYPE >
<HTML xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>qinwei</title>

    </head>
<body>
<h1>1111111111111111111111111</h1>

</body>
</HTML>